body {
  font-family: arial;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 200px; */
  height: 60px;
  width: 350px;
  /* background-color: lightgray; */
}

.second {
  width: 280px;
}

.third {
  width: 210px;
}

.fourth {
  width: 140px;
}
.spot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  font-weight: bold;
}

.chosen {
  background-color: dodgerblue;
}

.empty {
  background-color: black;
}

#title{
  /* background-color:gray; */
  text-align: center;
}